body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  background-color: rgb(232, 232, 232);
  padding: 10px;
  text-align: center;
}

.content {
  flex: 1; 
  overflow: auto;
}

.el {
  max-width: 20vw;
  height: auto;
  float: right;
}

.gll {
  max-width: 20vw;
  height: auto;
  float: left;
}

.flex-grid {
  display: flex;
}

.flex-grid .col {
  flex: 1;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.col-4 {
  flex: 0 0 20%; 
  max-width: 20%;
  background-color: aqua;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100%;    
}

.box img {
  max-width: 80%;
  height: auto;
}

/* not functioning */

/* .hippie {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
} */

/* .col-4, .statusCol {
  display:block;
  margin-left: auto;
  margin-right: auto;
  
} */
.col-8 {
  flex: 0 0 80%; 
  max-width: 80%;
}

.col-4, .col-8 {
  display: flex;
  flex-direction: column;
  
}

.statusCol {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
}

.row-8 {
  
  background-color: pink;
}

.box {
  box-sizing:content-box;
  outline-style: solid;
  outline-color: #20a0f3;
  /* background-color: #F37320; */
  justify-content: center;
  width:100%;
}

.num {
  margin-top: auto;
  margin-bottom: auto;
}

.kWhCol {
  width: 100%;
}

