body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  background-color: rgb(232, 232, 232);
  padding: 10px;
  text-align: center;
}

.content {
  flex: 1; 
  overflow: auto;
}

.el {
  max-width: 20vw;
  height: auto;
  float: right;
}

.gll {
  max-width: 20vw;
  height: auto;
  float: left;
}

.flex-grid {
  display: flex;
  background-color: #fff6e5;
  min-height:100vh;
}



.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.col-4 {
  flex: 0 0 30%; 
  max-width: 30%;
  background-color: rgb(232, 232, 232);
  background-size: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  /* padding: 20px; */
  /* height: 100%;     */
}

.kWhCol, .hippie {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.col-8 {
  flex: 0 0 70%; 
  max-width: 70%;
}

.col-4, .col-8 {
  display: flex;
  flex-direction: column;
  
}

.statusCol {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  padding-top: 10%;
}

.num {
  margin-top: 5px;
  text-align: center;
  width: 100%;
}


.kWhCol {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  width: 100%;
  max-height: 15vh;
}

.prod {
  display: flex;
  flex-direction: column;  
  align-items: center;  
  width: 75%;
  margin-bottom: 10px;
  border: .2rem solid #5f6062;
}

.prod:first-child {
  border-right: none;
}

.prod h5 {
  margin: 0;
  text-align: center;
  width: 100%;
}

.hippie {
  display: flex; 
  flex-direction: column; 
  /* align-items: center; 
  justify-content: center; */
  text-align: center;
  margin-top: 0;
  overflow:auto;
  width: 100%;
}

.hippie img {
  display: block;
  max-width: 50%; 
  height:max-content; 
  margin-top: 0;
 
}

.loginBox {
  text-align: center;
  padding: 1rem;
  max-width: 50%;
  border: .3rem solid #f37220;
  border-radius: 5%;
  color: #5f6062;
  background-color: #fff6e5;
  
}

.loginDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #FFF6e5; */
  background-color: #5f6062;
}